@media screen and (max-width: 576px){
.about-section{
    justify-content: center;
    align-items: center;
}
.about{
    justify-content: center;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container{
    justify-content: center;
    grid-template-areas: 
    "audio"
    "mobile"
    "global"
    "interview"
    "resources";
}
.episodes{
    justify-content: center;
    display: grid;
    grid-column: 1;
    grid-row: 3;
    
}
.host{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: grid;
    grid-column: 1;
    grid-row: 3;
    width: 90%;
}
.footer{
    justify-content: center;
    height: 300px;
    max-width: 576px;
}
.social{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}


}