
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; }  
  .body{
    background-color: #412567;
    color: white;
  }

/* shared styles */
.display-flex{
    display: flex;
}
.wave{
    background: linear-gradient(135deg, #fcea5f, #ea34cf, #5c0bb4); 
    /* color: rgb(#5c0bb4, #ea34cf, #fcea5f); */
    background-size: 100%;
    
}
.primary-button{
    background: linear-gradient(135deg, #fcea5f, #ea34cf, #5c0bb4);
     margin: 20px;     
     border-radius: 10px;
     padding-right: 15px;
     padding-left: 15px;
     color: white;
}

/* navbar related styles */

.nav-bar{
    justify-content: space-between;
    align-items: center;
    background-color: #412567;
}
logo{
    padding-left: 200px;
}
.menus{
    list-style: none;
    justify-content: center;
    align-content: center;
    gap: 20px;
    font-size: 16px;
    font-weight: 300;
    
}
.subscribe {
    background: none;
    border: none;
    color: white;
}



/* logo gradient */

/* primary button bg */

/* hero section styles */
.mic{
    background-image: url(./B13-A02-TechWave/assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    size: 50px;
    background-size: 250px;
    
}
.banner-img{
    background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
    background-size: 100% ;
    background-repeat: no-repeat;
    
}
.banner-subscribe{
    color: rgb(48, 238, 48);
    background-color: transparent;
     border:  2px solid rgb(48, 199, 48); */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    gap: 9px;
}
.justify{
    justify-content: center;
}
.banner-text {
    justify-content: center;
    align-content: center;
}