
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; }  
  .body{
    background-color: #412567;
    color: white;
  }

/* shared styles */
.display-flex{
    display: flex;
}
.wave{
    background: linear-gradient(135deg, #fcea5f, #ea34cf, #5c0bb4); 
    /* color: rgb(#5c0bb4, #ea34cf, #fcea5f); */
    background-size: 100%;
    
}
.primary-button, .btn {
    background: linear-gradient(135deg, #fcea5f, #ea34cf, #5c0bb4);
     margin: 20px;     
     border-radius: 10px;
     padding-right: 15px;
     padding-left: 15px;
     color: white;
}
.body>*{
    justify-content: center;
}

/* navbar related styles */

.nav-bar{
    justify-content: space-between;
    align-items: center;
    background-color: #412567;
}
logo{
    padding-left: 200px;
}
.menus{
    list-style: none;
    justify-content: center;
    align-content: center;
    gap: 20px;
    font-size: 16px;
    font-weight: 300;
    
}
.hamburger{
    display: none;
}
.subscribe {
    background: none;
    border: none;
    color: white;
}



/* logo gradient */

/* primary button bg */

/* hero section styles */
.mic{
    background-image: url(./B13-A02-TechWave/assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    size: 50px;
    background-size: 250px;
    
}
.banner-img{
    background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
    background-size: 100% ;
    background-repeat: no-repeat;
    
}
.banner-subscribe{
    color: rgb(48, 238, 48);
    background-color: transparent;
     border:  2px solid rgb(48, 199, 48); */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    gap: 9px;
}
.justify{
    justify-content: center;
}
.banner-text {
    justify-content: center;
    align-content: center;
    
}
/* about section */
.about{
    justify-content: center;
    align-items: center;
    font-weight: 200;
    align-content: center;
}
.numbers{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    
}
.NA{
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* why choose section */
.container>*{
    /* display: flex; */
    border: 10px #f2f0f4;
    background-color: #341b51;
     padding: 20px; 
     border-radius: 20px;
}
.audio{
    grid-area: audio;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.interview{
    grid-area: interview;
}
.resources{
    grid-area: resources;
}
.why{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container{
    margin-left: 200px;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "audio mobile mobile"
    "audio global global"
    "interview interview resources";
}
/* episodes and host */
.min{
    color: #00ff88;
}
.time{
    display: flex;
    align-items: center;
    gap: 10px;
}
.feature-container>*{
     display: flex; 
     justify-content: center;
     margin-left: 350px;
}
.card{
    /* border: 10px #f2f0f4; */
    background-color: #341b51;
     padding: 20px; 
     border-radius: 20px;
    justify-content: center;
}
.episodes{
    gap: 30px;
}
.host{
    background-color: #2b1347;
    width: 1000px;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
}
.icons{
    border: 1px #f2f0f4;
    gap: 50px;
    align-items: center;
}
.footer{
    justify-content: center;
    align-items: center;
    background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
    height: 400px;
    
}
.social{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    
}




